<div class="restaurant-card">
  <div class="restaurant-details">
    <p class="title">Street Food Thursday</p>
    <p>Eisenbahnstr. 42/43</p>
    <p class="caption">Street Food Gathering</p>
    <a href="#">Rate restaurant</a>
  </div>
  <div class="restaurant-rating">
    <div class="score">
      <p>8.0</p>
    </div>
  </div>
</div>