<div class="restaurant-card">

  <div class="restaurant-details">
    <p class="title">{{this.name}}</p>
    <p>{{this.location.address}}</p>
    <p class="caption">{{this.categories.0.shortName}}</p>
    <a href="/{{this.id}}/score">Rate restaurant</a>
  </div>

  <div class="restaurant-score">
    <div class="score">
      <p>8.0</p>
    </div>
  </div>
</div>