{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<div id="home-background">
  <div>
    <h1>Discover environmentally-friendly places to eat and drink near you.</h1>
    <a href="/restaurants"><button class="solid">See restaurants in Berlin</button></a>
  </div>
</div>