<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <!-- Import Mapbox GL JS -->
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js"></script>
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css" rel="stylesheet" />
  <!-- Import jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }
  </style>
  <!-- Adding the geocoder plugin -->
  <script
    src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.min.js"></script>
  <link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css"
    type="text/css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  {{!-- GLOBAL NAV BAR --}}
  <nav>
    <div class="logo-div">
      <p>ecobite</p>
    </div>
    <div class="nav-links">
      <a href="#">Log in</a>
      <a href="#" class="trigger">Sign up</a>
    </div>
  </nav>

  {{!-- SIGNUP MODAL --}}
  <div class="modal">
    <div class="modal-content">
      <span class="close-button">&times;</span>
      <p>Discover environmentally-friendly places to eat and drink near you.</p>
      <br />
      <a href="#">Continue with Facebook</a><br />
      <a href="#">Continue with Google</a><br />
      <a href="/signup">Or sign up with your email address</a><br />
      <br />
      <p>Already have an account? <a href="#">Log in with your email address</a></p>
    </div>
  </div>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
  <script src="/javascripts/modals.js"></script>
  <script src="/javascripts/mapbox.js"></script>
</body>

</html>