<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <!-- Import Mapbox GL JS -->
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js"></script>
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css" rel="stylesheet" />
  <!-- Import jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- Adding the geocoder plugin -->
  <script
    src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.min.js"></script>
  <link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css"
    type="text/css" />
  {{!-- CSS / Font Imports --}}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700i|Muli:300,500,700,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  {{!-- GLOBAL NAV BAR --}}
  <nav>
    <div class="logo-div">
      <p><a href="/">ecobite</a></p>
    </div>
    <div class="nav-links">
      <a href="/login">Log in</a>
      <a href="#" class="trigger">Sign up</a>
      <a href="/logout">Log out</a>
    </div>
  </nav>

  {{!-- SIGNUP MODAL --}}
  <div class="modal">
    <div class="modal-wrapper">
      <div class="close-button">&times;</div>
      <div class="modal-new-user">
        <p class="intro-text">Discover environmentally-friendly places to eat and drink near you.</p>
        <br />
        <a href="/auth/facebook"><button class="facebook">Continue with Facebook</button></a><br />
        <a href="/auth/google"><button class="google">Continue with Google</button></a><br /><br />
        <a href="/signup">
          <p class="caption">Or sign up with your email address</p>
        </a><br />
        <br />
      </div>
      <div class="modal-returning-user">
        <p class="caption">Already have an account?
          <br /><a href="/login">Log in with your email address</a></p>
      </div>
    </div>
  </div>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
  <script src="/javascripts/modals.js"></script>
  <script src="/javascripts/mapbox.js"></script>
</body>

</html>