<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  {{!-- GLOBAL NAV BAR --}}
  <nav>
    <div class="logo-div">
      <p>ecobite</p>
    </div>
    <div class="nav-links">
      <a href="#">Log in</a>
      <a href="#" class="trigger">Sign up</a>
    </div>
  </nav>

  {{!-- SIGNUP MODAL --}}
  <div class="modal">
    <div class="modal-content">
      <span class="close-button">&times;</span>
      <p>Discover environmentally-friendly places to eat and drink near you.</p>
      <br />
      <a href="#">Continue with Facebook</a><br />
      <a href="#">Continue with Google</a><br />
      <a href="#">Or sign up with your email address</a><br />
      <br />
      <p>Already have an account? <a href="#">Log in with your email address</a></p>
    </div>
  </div>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
  <script src="/javascripts/modals.js"></script>
</body>

</html>