<form action="/{{restaurantId}}/score" method="POST">
  <h2>Rating for Restaurant1</h2>

  <div class="eat-in">
    <p>When dining in, does the restaurant use single-use products? E.g. plastic straws, plastic cutlery, disposable
      plates/cups.</p>
    <label><input type="radio" name="eatIn" value="0" required> Yes</label>
    <label><input type="radio" name="eatIn" value="10"> No</label>
    <label><input type="radio" name="eatIn" value="-1"> I don't know/I don't want to say</label><br>
  </div>
  <br>
  <div class="take-away">
    <p>Are take-away containers at this restaurant compostable? E.g. paper cups.</p>
    <label><input type="radio" name="takeAway" value="0" required>Not at all/I don't know</label>
    <label><input type="radio" name="takeAway" value="2">1</label>
    <label><input type="radio" name="takeAway" value="4">2</label>
    <label><input type="radio" name="takeAway" value="6">3</label>
    <label><input type="radio" name="takeAway" value="8">4</label>
    <label><input type="radio" name="takeAway" value="10">All of it is compostable</label>
    <label><input type="radio" name="takeAway" value="-1"> I don't know/I don't want to say</label>
  </div>
  <br>
  <div class="cup">
    <p>Is there a reusable cup program? E.g. services like Recup or using your own takeaway mug</p>
    <label><input type="radio" name="reusableCup" value="5" required>Yes</label>
    <label><input type="radio" name="reusableCup" value="0">No</label>
    <label><input type="radio" name="reusableCup" value="-1"> I don't know/I don't want to say</label>
  </div>
  <br>
  <div class="veg">
    <p>How vegan/vegetarian friendly is the restaurant?</p>
    <label><input type="radio" name="veg" value="0" required>There is nothing vegetarian available</label>
    <label><input type="radio" name="veg" value="2">1</label>
    <label><input type="radio" name="veg" value="4">2</label>
    <label><input type="radio" name="veg" value="6">3</label>
    <label><input type="radio" name="veg" value="8">4</label>
    <label><input type="radio" name="veg" value="10">The restaurant serves only vegan/vegetarian dishes</label>
    <label><input type="radio" name="veg" value="-1"> I don't know/I don't want to say</label>
  </div>
  <br>
  <div class="dairy">
    <p>Are there dairy alternatives available? E.g. oat milk, soy milk.</p>
    <label><input type="radio" name="dairy" value="10" required>Yes</label>
    <label><input type="radio" name="dairy" value="0">No</label>
    <label><input type="radio" name="dairy" value="-1"> I don't know/I don't want to say</label>
  </div>
<br>
  <input type="submit" method="POST">

</form>