<form action="/restaurants" method="POST">
  <h2>Rating for Restaurant1</h2>

  <div class="dine-in">
  <p>When dining in, does the restaurant use single-use products? E.g. plastic straws, plastic cutlery, disposable plates/cups.</p>
  <input type="radio" name="eatIn" value="yes"> Yes 
  <input type="radio" name="eatIn" value="no"> No<br>
  </div>
<br>
  <div class="take-away">
    <p>Are take-away containers at this restaurant compostable? E.g. paper cups.</p>
    <input type="radio" name="takeAway" value="0">Not at all/I don't know
    <input type="radio" name="takeAway" value="1">1
    <input type="radio" name="takeAway" value="2">2
    <input type="radio" name="takeAway" value="3">3
    <input type="radio" name="takeAway" value="4">4
    <input type="radio" name="takeAway" value="5">All of it is compostable
  </div>
<br>
  <div class="cup">
    <p>Is there a reusable cup program? E.g. services like Recup or using your own takeaway mug</p>
    <input type="radio" name="reusableCup" value="yes">Yes
    <input type="radio" name="reusableCup" value="no">No
  </div>
  <br>
  <div class="veg">
    <p>How vegan/vegetarian friendly is the restaurant?</p>
    <input type="radio" name="veg" value="0">There is nothing vegetarian available
    <input type="radio" name="veg" value="1">1
    <input type="radio" name="veg" value="2">2
    <input type="radio" name="veg" value="3">3
    <input type="radio" name="veg" value="4">4
    <input type="radio" name="veg" value="5">The restaurant serves only vegan/vegetarian dishes
  </div>
<br>
  <div class="dairy">
    <p>Are there dairy alternatives available? E.g. oat milk, soy milk.</p>
    <input type="radio" name="dairy" value="yes">Yes
  <input type="radio" name="dairy" value="no">No
  </div>
  
  <button type="submit">Submit your rating</button>
  
</form>