<form action="/{{restaurantId}}/score" method="POST">
  <h2>Rating for Restaurant1</h2>

  <div class="dine-in">
    <p>When dining in, does the restaurant use single-use products? E.g. plastic straws, plastic cutlery, disposable
      plates/cups.</p>
    <input type="radio" name="eatIn" value="0"> Yes
    <input type="radio" name="eatIn" value="10"> No<br>
  </div>
  <br>
  <div class="take-away">
    <p>Are take-away containers at this restaurant compostable? E.g. paper cups.</p>
    <input type="radio" name="takeAway" value="0">Not at all/I don't know
    <input type="radio" name="takeAway" value="2">1
    <input type="radio" name="takeAway" value="4">2
    <input type="radio" name="takeAway" value="6">3
    <input type="radio" name="takeAway" value="8">4
    <input type="radio" name="takeAway" value="10">All of it is compostable
  </div>
  <br>
  <div class="cup">
    <p>Is there a reusable cup program? E.g. services like Recup or using your own takeaway mug</p>
    <input type="radio" name="reusableCup" value="5">Yes
    <input type="radio" name="reusableCup" value="0">No
  </div>
  <br>
  <div class="veg">
    <p>How vegan/vegetarian friendly is the restaurant?</p>
    <input type="radio" name="veg" value="0">There is nothing vegetarian available
    <input type="radio" name="veg" value="2">1
    <input type="radio" name="veg" value="4">2
    <input type="radio" name="veg" value="6">3
    <input type="radio" name="veg" value="8">4
    <input type="radio" name="veg" value="10">The restaurant serves only vegan/vegetarian dishes
  </div>
  <br>
  <div class="dairy">
    <p>Are there dairy alternatives available? E.g. oat milk, soy milk.</p>
    <input type="radio" name="dairy" value="10">Yes
    <input type="radio" name="dairy" value="0">No
  </div>

  <input type="submit" method="POST">

</form>