<div id="restaurants-page">

  <div>
    <div id="restaurants-list">
      {{#each restaurantsList}}
      {{!-- Access two variables within the partial with the syntax below, this is from restaurant list --}}
      {{> restaurantCard restaurant=this user=../user}}
      {{/each}}
    </div>

    <div id="map">
      <!-- This is where the map will be displayed on the page -->
    </div>
  </div>

</div>