<div id="restaurant-listing-content">
  
  <div id="restaurants-list">
    {{> restaurantCard}}
  </div>

  <div id="map">
    <!-- This is where the map will be displayed on the page -->
  </div>

</div>