<div id="restaurants-page">

  <div>
    <div id="restaurants-list">
      {{#each restaurantsList}}
      {{> restaurantCard this}}
      {{/each}}
    </div>

    <div id="map">
      <!-- This is where the map will be displayed on the page -->
    </div>
  </div>

</div>