<div id="restaurant-listing-content">

  <div id="restaurants-list">
    {{#each restaurantsList}}
    {{> restaurantCard this}}
    {{/each}}
  </div>

  <div id="map">
    <!-- This is where the map will be displayed on the page -->
  </div>

</div>