<div class="login-wrapper">
  <form class="login-form-container" action="/signup" method="POST">
    <h1>Sign up</h1>
    <label for="email">Email address:</label><br />
    <input type="text" name="email" id="email-field"><br />

    <label for="password">Password:</label><br />
    <input type="password" name="password" id="password-field"><br />

    <button class="solid">Sign up</button>
  </form>

  {{#if errorMessage}}
  <caption>{{errorMessage}}</caption>
  {{/if}}
</div>