<form action="/signup" method="POST">
  <label for="email">Email address:</label>
  <input type="text" name="email" id="email-field">

  <label for="password">Password:</label>
  <input type="password" name="password" id="password-field">

  <button>Sign up</button>
</form>