:root {
  --green: #00ae80;
  --light-gray: #ebeeed;
  --medium-gray: #b5bcba;
  --dark-green: #092d26; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Muli", "Open Sans", sans-serif;
  font-weight: 300; }

a {
  color: var(--dark-green);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0; }

h1 {
  font-size: 44px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 2px;
  color: var(--dark-green);
  margin-bottom: 32px; }

h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 1px;
  color: var(--dark-green);
  margin-bottom: 24px; }

h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  color: var(--dark-green);
  margin-bottom: 16px; }
  h3 span {
    font-size: 16px;
    color: var(--medium-gray); }

nav {
  height: 80px;
  padding: 0px 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-gray); }
  nav a {
    padding-left: 16px; }

.logo-div a {
  font-family: "Muli", sans-serif;
  font-weight: 900;
  font-size: 32px;
  color: var(--green); }

/* HOME PAGE */
#home-background {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/ecobite-background.png");
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed; }
  #home-background div {
    margin-top: -70px;
    width: 50%;
    text-align: center; }

/* BUTTON STYLES */
button:focus {
  outline: none; }

button {
  height: 48px;
  border-radius: 24px;
  width: 220px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 4px;
  margin: 8px; }

.solid {
  background-color: var(--green);
  color: #fff;
  border: none; }

.facebook {
  background-color: #1777f2;
  color: #fff;
  border: none; }

.google {
  border: 1px solid var(--medium-gray); }

/* SIGN UP MODAL */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 10; }

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 550px;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem 2rem 3rem 2rem;
  border-radius: 0.5rem;
  text-align: center; }
  .modal-wrapper .modal-new-user {
    margin: 32px;
    border-bottom: 1px solid var(--light-gray); }
  .modal-wrapper .caption {
    font-size: 14px; }

.close-button {
  float: right;
  font-size: 48px;
  color: var(--medium-gray);
  display: block;
  width: 100%;
  line-height: 1.5rem;
  text-align: right;
  margin-bottom: 24px;
  cursor: pointer;
  border-radius: 0;
  background-color: lightgray; }

.close-button {
  background-color: #fff; }

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; }

/* LOGIN PAGE */
.login-wrapper {
  background-image: url("../assets/ecobite-background.png");
  background-size: cover;
  background-position: top;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; }
  .login-wrapper .login-form-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 120px; }
    .login-wrapper .login-form-container input {
      width: 100%;
      height: 48px;
      border: 2px solid var(--medium-gray);
      font-family: "Open Sans", sans-serif;
      color: var(--dark-green);
      font-size: 18px;
      padding-left: 12px;
      text-decoration: none; }

/* RESTAURANTS + MAPBOX PAGE */
#restaurants-page {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  #restaurants-page #restaurants-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 40vw;
    position: absolute;
    top: 81;
    overflow-y: scroll; }
  #restaurants-page #map {
    position: absolute;
    top: 81px;
    bottom: 0;
    right: 0;
    width: 60vw; }

/* RESTAURANT CARD PARTIAL */
.restaurant-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
  padding: 32px;
  border-bottom: 1px solid var(--light-gray); }
  .restaurant-card p {
    padding-bottom: 12px; }
  .restaurant-card .title {
    font-family: "Muli";
    color: var(--dark-green);
    font-weight: 700;
    font-size: 20px; }
  .restaurant-card .caption {
    font-size: 14px;
    color: var(--medium-gray); }
  .restaurant-card .score {
    font-family: "Muli";
    font-size: 16px;
    font-weight: 700;
    padding: 8px;
    margin-bottom: 16px;
    width: 24px;
    height: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-content: center; }
  .restaurant-card .scored {
    background-color: var(--green);
    color: #fff; }
  .restaurant-card .not-scored {
    background-color: var(--light-gray);
    color: #fff; }
  .restaurant-card a {
    font-size: 14px; }

/* TOOLTIP STYLING */
.tooltip {
  position: relative;
  display: inline-block; }

/* Tooltip text */
.tooltip .tooltiptext {
  font-family: "Open sans", sans-serif;
  font-weight: 100;
  font-size: 10px;
  letter-spacing: 1px;
  text-align: center;
  visibility: hidden;
  width: 130px;
  background-color: var(--dark-green);
  color: #fff;
  padding: 6px;
  border-radius: 4px;
  position: absolute;
  top: 20%;
  right: 120%;
  z-index: 10; }

.tooltip:hover .tooltiptext {
  visibility: visible; }

/* FORM */
.form-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 32px; }
  .form-wrapper form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 50%; }
    .form-wrapper form button {
      margin: 16px auto; }
    .form-wrapper form .question {
      text-align: center; }
  .form-wrapper input {
    display: block; }
  .form-wrapper .answers-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .form-wrapper .input-container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .form-wrapper .input-container label {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }

input[type="radio"] {
  opacity: 0; }

.input-container label {
  display: inline-block;
  height: 36px !important;
  border-radius: 22px;
  border: 2px solid var(--light-gray);
  min-width: 100px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 4px;
  margin: 8px; }

.input-container input[type="radio"]:checked + label {
  background-color: var(--green);
  border-color: var(--green);
  color: #fff; }

.input-container input[type="radio"]:focus + label {
  border: 2px solid var(--dark-green); }

/*# sourceMappingURL=style.css.map */