:root {
  --green: #00ae80;
  --light-gray: #ebeeed;
  --medium-gray: #b5bcba;
  --dark-green: #092d26;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Muli", "Open Sans", sans-serif;
  font-weight: 300;
}

a {
  color: var(--dark-green);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 2px;
  color: var(--dark-green);
  margin-bottom: 32px;
}

nav {
  a {
    padding-left: 16px;
  }
  height: 80px;
  padding: 0px 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-gray);
}

/* HOME PAGE */
#home-background {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/ecobite-background.png");
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  div {
    margin-top: 150px;
    width: 50%;
    text-align: center;
  }
}

/* BUTTON STYLES */
button:focus {
  outline: none;
}

button {
  height: 48px;
  border-radius: 24px;
  width: 220px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 4px;
  margin: 8px;
}
.solid {
  background-color: var(--green);
  color: #fff;
  border: none;
}
.facebook {
  background-color: #1777f2;
  color: #fff;
  border: none;
}
.google {
  // color: var(--medium-gray);
  border: 1px solid var(--medium-gray);
}

/* SIGN UP MODAL */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 10;
}
.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 550px;
  // height: 400px;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem 2rem 3rem 2rem;
  // width: 24rem;
  border-radius: 0.5rem;
  text-align: center;
  .modal-new-user {
    margin: 32px;
    border-bottom: 1px solid var(--light-gray);
  }
  .intro-text {
    // width: 90%;
    // text-align: left;
    font-family: "Muli";
    font-weight: 700;
    font-size: 28px;
  }
  .caption {
    font-size: 14px;
  }
}
.close-button {
  float: right;
  font-size: 48px;
  color: var(--medium-gray);
  display: block;
  width: 100%;
  line-height: 1.5rem;
  text-align: right;
  margin-bottom: 24px;
  cursor: pointer;
  border-radius: 0;
  background-color: lightgray;
}
.close-button {
  background-color: #fff;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* RESTAURANTS + MAPBOX PAGE */
#restaurant-listing-content {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  #restaurants-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 35vw;
    // position: fixed;
    // top: 81;
    // overflow-y: scroll;
  }

  #map {
    position: absolute;
    top: 81px;
    bottom: 0;
    right: 0;
    width: 60.5vw;
  }
}

/* RESTAURANT CARD PARTIAL */
.restaurant-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  background-color: #fff;
  padding: 32px;
  border-bottom: 1px solid var(--light-gray);
  p {
    padding-bottom: 12px;
  }
  .title {
    font-family: "Muli";
    font-weight: 500;
    font-size: 20px;
  }
  .caption {
    font-size: 14px;
    color: var(--medium-gray);
  }
  .score {
    background-color: var(--green);
    color: #fff;
    font-family: "Muli";
    font-weight: 800;
    padding: 8px;
    margin-bottom: 16px;
    width: 24px;
    height: 20px;
    border-radius: 8px;
    p {
      font-size: 16px;
      font-weight: bold;
    }
  }
  a {
    font-size: 14px;
  }
}
