:root {
  --light-gray: #b5bcba;
  --green: #03a87c;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  color: #00b7ff;
}

nav {
  a {
    padding-left: 16px;
  }
  height: 80px;
  padding: 0px 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

/* Signup Modal window */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  // border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0;
  background-color: lightgray;
}
.close-button {
  background-color: #fff;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* MAPBOX + RESTAURANTS PAGE */
#restaurant-listing-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: flex-end;

  #restaurants-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 45%;
  }

  #map {
    position: absolute;
    top: 81px;
    bottom: 0;
    right: 0;
    width: 55%;
  }
}

/* RESTAURANT CARD PARTIAL */

.restaurant-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  background-color: #fff;
  padding: 44px 32px;
  p {
    padding-bottom: 12px;
  }
  .title {
    font-size: 16px;
    font-weight: bold;
  }
  .caption {
    font-size: 14px;
    color: var(--light-gray);
  }
  .score {
    background-color: var(--green);
    color: #fff;
    padding: 8px;
    margin-bottom: 16px;
    width: 24px;
    height: 20px;
    border-radius: 6px;
    p {
      font-size: 16px;
      font-weight: bold;
    }
  }
  a {
    font-size: 14px;
  }
}
